@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  min-height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.form-container {
    width: 30%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/*font-size: 48px;*/
.form-container .form-header {
    font-size: 40px;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.form-container form {
    padding: 0 40px;
}

.form-container form .input-field {
    position: relative;
    margin: 30px 0;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 60px;
    padding: 15px;
    margin: 2px 0;
    padding: 15px;
    background: none;
    border: 2px solid #ccc;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: #eee;
}

input[type="submit"] {
    width: 100%;
    height: 60px;
    border: 2px solid;
    border-radius: 5px;
    color: black;
    background: none;
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(195, 195, 195);
    color: white;
    transition: 0.5s;
}

#error {
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

/*
.bucket-container {
    width: 80%;
    height: 90%;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
*/
.bucket-container {
    z-index: 100;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
}
